@layer theme {
  :root {
    @variant dark {
      --background: oklch(0% 0 0);
      --surface: oklch(14% 0.005 285);
      --surface-secondary: oklch(18% 0.004 286);
      --surface-tertiary: oklch(20% 0.003 286);
    }

    @variant light {
      --background: oklch(97% 0.003 286);
      --surface: oklch(100% 0 0);
      --surface-secondary: oklch(96% 0.003 286);
      --surface-tertiary: oklch(93% 0.004 286);
    }
  }
}
