name: EAS Build
on:
  workflow_dispatch:
jobs:
  build:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build on EAS
        run: eas build --platform ios --profile production --auto-submit --non-interactive --no-wait
